{% set sidebarAttributes = {
    label: {
        id: "entry-password-label",
        for: "entry-password",
    },
    input: {
        type: "text",
        id: "entry-password",
        name: "entry-password",
        class: "text fullwidth",
        value: password,
        autocomplete: "off",
        autocorrect: "off",
        autocapitalize: "none",
        dir: "ltr",
        "aria-labelledby": "entry-password-label",
    },
} %}

{% set label = readonly ? "Password </br> (Read Only)" : "Password" %}

<div class="meta">
    <div id="entry-password-field" class="field" data-attribute="entry-password">
        <div class="heading">
            <label {{ attr(sidebarAttributes.label) }}>
                {{ label | raw }}
            </label>
        </div>
        <div class="input ltr">
            {% if readonly %}
                <p>{{ password }}</p>
            {% else %}
                <input {{ attr(sidebarAttributes.input) }}/>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
